<div class="alert <%= bootstrap_class_for(type) %> d-flex align-items-center alert-dismissible fade show" role="alert">
  <%= bootstrap_icon_for(type) %>
  <p class="m-0">
    <%= message %>
  </p>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-controller="flash-message" data-flash-message-hide-after-value="<%= Rails.configuration.x.flash_duration %>" data-flash-message-persistent-value="<%= local_assigns[:persistent_message].presence || false %>"></button>
</div>
